{% extends 'magasin/base.html' %}
{% load static %}
{% block content %}
<form method='POST' class="post-form" >
{% csrf_token %}
<div class="container-fluid mt-3">
    <div class="row-9" >
        <!-- all products -->
        <div  id='fournisseur' class="col-lg-9 mx-auto" >
            <div class="row mx-auto" >
                {% for fournisseur in nouvFournisseur %}
                <div class="card" id={{fournisseur.id}} style="width:350px;border:black solid 1px;margin:5px;">
                    <div id={{fournisseur.id}} style="margin:5px;">
                   <img src="/media/{{fournisseur.logo}}" style="width: 300px; height: 150px; padding: 5px;">
                   <div> 
                       <hr class="dropdown-divider">
                       <div class="card-body" style="height: 250px;">
                           <h5 class="card-title">Fournisseur</h5>
                            <p class="card-text">Nom: <b>{{fournisseur.nom}}</b></p>
                           <p class="card-text">Adresse: <b>{{fournisseur.adresse}}</b></p>
                           <p class="card-text">Email: {{fournisseur.email}}</p>
                           <p class="card-text">Tel: {{fournisseur.telephone}}</p>
                       </div>
                       <div style="width: 350px;">
                           <a href="{% url 'detail_Fournisseur' for_id=fournisseur.id %}" class="btn btn-primary">Voir détails</a>
                           <a href="{% url 'edit_Fournisseur' fournisseur.id %}" class="btn btn-success">Modifier</a>
                           <a href="{% url 'delete_Fournisseur' fournisseur.id %}" class="btn btn-danger" >Supprimer</a>
                       </div>
               </div>
           </div>
       </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
 </form> 
</div>
 {% endblock %}
 